[submodule "CA1"]
	path = CA1
	url = https://github.com/mohammadsaadati80/Tic-Tac-Toe
[submodule "CA2P1"]
	path = CA2P1
	url = https://github.com/mohammadsaadati80/Othello
[submodule "CA2P2"]
	path = CA2P2
	url = https://github.com/mohammadsaadati80/Othello-GUI
[submodule "CA3"]
	path = CA3
	url = https://github.com/mohammadsaadati80/Tic-Tac-Toe
[submodule "Tic-Tac-Toe"]
	path = Tic-Tac-Toe
	url = https://github.com/mohammadsaadati80/Tic-Tac-Toe.git
